html {
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    height: 60%;
    border: 1px solid black;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header, .image, .footer, h3 {
    align-items: center;
    text-align: center;
}
.header {
    background-color: black;
    color: white;
    padding-top: 1.5px;
}
p {
    text-indent: 20px;
    margin-left: 5px;
}
.footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;
}